@font-face {
    font-family: "orbitron";
    src:
    url("/fonts/orbitron-bold-webfont.woff") format("woff"),
    url("/fonts/orbitron-bold-webfont.woff2") format("woff2");
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica Neue,arial,sans-serif;
    font-size: 18px;
}

body {
    background: #252525 url('/images/top.png') top no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

#lattice {
    position: absolute;
    z-index: -1;
    height: 525px;
    overflow: hidden;
    width: 900px;
    right: 0;
    top: -40px;
    right: -180px;
}

a, a:link {
    color: #73b1ff;
}

.container {
    position: relative;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    max-width: 960px;
}

@media (max-width: 1010px) {
    .container {
        padding: 0 40px;
    }
}

.masthead {
    margin: 40px 0;
    flex: 1 1 100%;
    display:  flex;
}

.masthead .title {
    height: 30px;
    flex: 0 0 250px;
}

.masthead .navigation {
    height: 30px;
    flex: 1 1 100%;
    text-align: right;
    font-family: "Inconsolata", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
}

@media (min-width: 960px) {
    .masthead .navigation {
        display: none;
    }
}

.masthead .navigation span {
    padding-left: 8px;
    padding-right: 8px;
}

.masthead .navigation a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s;
}

.masthead .navigation a:hover {
    color: #c5c5c5;
}

/**
 * Homepage
 */
#home-container {
    margin: 0 auto;
}

@media (min-width: 960px) {
    #home-container {
        max-width: 960px;
    }
}

.section {
    padding: 50px 0;
}

.section .subtitle {
    font-family: "PT Serif";
    font-size: 23px;
    line-height: 29px;
}

@media (max-width: 890px) {
    .section .subtitle {
        font-size: 19px;
        line-height: 25px;
    }
}

@media (max-width: 760px) {
    .section .subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}

.section h1,
.section h2,
.section h3 {
    font-family: "Helvetica Neue", Arimo, Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
    width: min-content;
}

.section h2.red {
    border-bottom: 5px solid #E02424;
}

.section h2.orange {
    border-bottom: 5px solid #EEAE3F;
}

.section h2.blue {
    border-bottom: 5px solid #009ABF;
}

.section h2.purple {
    border-bottom: 5px solid #8539DD;
}

.section h1 {
    font-size: 64px;
    letter-spacing: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section h2 {
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

@media (max-width: 890px) {
    .section .logo svg {
        width: 400px;
    }
}

@media (max-width: 760px) {
    .section .logo svg {
        width: 300px;
    }
}

@media (max-width: 620px) {
    .section .logo svg {
        width: 250px;
    }
}

.section .tagline-wrapper {
    overflow: hidden;
    padding-right: 12px;
}

.section .tagline {
    margin: 0
    overflow: hidden;
    position: relative;
}

.section .tagline-content {
    padding: 6px 0 4px;
    font-family: "Inconsolata";
    font-size: 29px;
    font-weight: 700;
    letter-spacing: .75px;
}

@media (max-width: 890px) {
    .section .tagline-content {
        font-size: 25px;
    }
}

@media (max-width: 760px) {
    .section .tagline-content {
        font-size: 20px;
    }
}

@media (max-width: 620px) {
    .section .tagline-content {
        font-size: 17px;
    }
}

.section .description-wrapper {
    overflow: hidden;
    padding-right: 40px;
    width: 80%;
}

@media (max-width: 650px) {
    .section .description-wrapper {
        width: 100%;
    }
}

.section .description {
    font-family: "PT Serif";
    margin-top: 20px;
    font-size: 25px;
    line-height: 35px;
}

@media (max-width: 890px) {
    .section .description {
        font-size: 22px;
        line-height: 30px;
    }
}

@media (max-width: 760px) {
    .section .description {
        font-size: 18px;
        line-height: 28px;
    }
}

/**
 * Quick Links
 */

 .quick-links {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 @media (max-width: 970px) {
      .quick-links {
          width: 80%;
          justify-content: space-between;
          flex-direction: column;
      }
  }

  @media (max-width: 700px) {
       .quick-links {
           width: 100%;
       }
   }

 .quick-links .area {
     flex: 0 0 270px;
     padding: 0 0 0 15px;
 }

 @media (max-width: 970px) {
     .quick-links .area {
         flex: 1 1 100%;
         padding: 0 0 20px 0;
     }
  }

 .quick-links .area h5 {
     text-transform: uppercase;
     font-size: 19px;
 }

 .quick-links .area.area--green {
     border-top: 5px solid #56BFC1;
 }

 .quick-links .area.area--red {
     border-top: 5px solid #E4492F;
 }

 .quick-links .area.area--purple {
     border-top: 5px solid #8539DD;
 }

/**
 * Projects
 */
.section .projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section .projects-container .project {
    margin: 40px 10px;
    flex: 0 0 280px;
    font-size: 16px;
}

@media (max-width: 970px) {
     .section .projects-container .project {
         flex: 1 1 280px;
     }
 }

.section .projects-container .project img {
    filter: grayscale(100%);
    width: 100%;
    padding-bottom: 3px;
}

.section .projects-container .project .title {
    text-transform: uppercase;
    margin-top: 10px;
}

.section .projects-container .project .desc {
    margin-top: 10px;
    height: 70px;
}

/**
 * Governance
 */
.section .governance-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section .governance-container > div {
    margin: 40px 10px;
    flex: 0 0 280px;
    font-size: 16px;
    border-left: 3px solid #387c85;
    padding-left:10px;
    padding-right: 30px;
}

@media (max-width: 970px) {
     .section .governance-container > div {
         flex: 1 1 280px;
     }
 }

.section .governance-container > div .title {
    font-family: "orbitron";
    vertical-align: top;
}

.section .governance-container > div .title .no {
    vertical-align: top;
    margin-top: 10px;
}

.section .governance-container > div .title .number {
    font-size:60px;
    padding-top: -10px;
}

/**
 * Contributors
 */
 .section .contributors-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section .contributors-container > div {
    margin: 40px 10px;
    flex: 0 0 280px;
    font-size: 14px;
}

@media (max-width: 970px) {
     .section .contributors-container > div {
         flex: 1 1 280px;
     }
 }

.section .contributors-container > div a {
    color: white;
    text-decoration: none;
}

.section .contributors-container > div img {
    float: left;
    max-width: 80px;
    margin-right: 20px;
}

.section .contributors-container > div h3 {
    text-transform: uppercase;
    margin-top: 28px;
    margin-bottom: 2px;
    font-size: 12px;
}

/**
 * Resources
 */
 .section .resources-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section .resources-container > div {
    margin: 40px 10px;
    flex: 0 0 280px;
    font-size: 14px;
}

@media (max-width: 970px) {
    .section .resources-container > div {
        flex: 1 1 280px;
    }
}

.section .resources-container > div a {
    color: white;
    text-decoration: none;
}

.section .resources-container > div img {
    float: left;
    max-width: 80px;
    margin-right: 20px;
}

.section .resources-container > div h3 {
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 2px;
    font-size: 22px;
}


/**
 * All other pages
 */
#container {
    margin-top: 60px;
    padding: 20px 40px;
}

.pulsate {
    -webkit-animation: pulsate 5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.25;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.25;
    }
}

#bottom-background {
    position: absolute;
    z-index: -1;
    height: 1774px;
    overflow: hidden;
    width: 1440px;
    right: -100px;
    background-color: #252525;
    background-image: url('/images/bottom.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1774px;
}

@media (min-width: 1100px) {
    #bottom-background {
        right: -250px;
    }
}
